/* إعدادات أساسية */
body {
    margin: 0;
    padding: 0;
    font-family: "Istok Web", sans-serif;
    font-weight: 400;
    font-style: normal;
    overflow: hidden;
    height: 100vh;
    /* ارتفاع الشاشة بالكامل */
    display: flex;
    justify-content: center;
    /* توسيط أفقي */
    align-items: center;
    /* توسيط رأسي */
    background-color: #050505;
}

/* خلفية الجزيئات */
#particles-js {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #050505 !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 0;
}

#particles-js canvas {
    filter: blur(2px);
}

/* الصورة في المنتصف */
.center-image {
    position: absolute;
    width: 257px;
    top: auto;
    /* يحتفظ بالمكان الحالي */
    left: auto;
    transform: translate(-50%, -50%) translateY(-30px);
    /* تبدأ 30px فوق */
    z-index: 10;
    opacity: 0;
    /* تبدأ مخفية */
    animation: fadeInFromTop 1s forwards;
}

@keyframes fadeInFromTop {
    to {
        opacity: 1;
        transform: translate(-50%, -50%) translateY(0);
        /* تصل لمكانها الطبيعي */
    }
}



.center-image img {
    width: 500px;
    height: auto;
    object-fit: cover;
}

/* الحاوية الرئيسية */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
    /* توسيط أفقي */
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    /* توسيط رأسي */
    gap: 20px;
    height: 100vh;
}

.button-link {
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 60px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background: rgba(139, 181, 0, 0.15);
    border: 1px solid rgba(162, 200, 0, 0.4);
    border-radius: 16px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    opacity: 0;
    /* يبدأ مخفي */
    transform: translateY(30px);
    /* يبدأ يتحرك من أسفل */
    animation: fadeInUp 0.8s forwards;
    /* الحركة */
}

/* Animation عند Hover */
.button-link:hover {
    background: rgba(82, 100, 1, 0.25);
    transform: translateY(-3px);
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
}

/* Keyframes للظهور */
@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* عداد الجزيئات */
.count-particles {
    position: absolute;
    top: 10px;
    left: 10px;
    background: rgba(0, 0, 34, 0.6);
    color: #13E8E9;
    font-size: 0.9em;
    font-family: Helvetica, Arial, sans-serif;
    padding: 6px 10px;
    border-radius: 6px;
    z-index: 3;
}

.js-count-particles {
    font-weight: bold;
    font-size: 1.1em;
}

#stats {
    display: none;
    /* ممكن تفعّله وقت الحاجة */
}